:root 
{
  /*colors*/
  --main-color: #222945;
  --dark-green: #15B097;
  --light-green: #71F79F;
  --white-ghost: #EEEEFF;
  --black-panther: #1c1c1c;

  /*radius*/
  --main-radius: 0.3rem;
  --second-radius: 0.6rem;
}

html 
{
  scroll-behavior: smooth;
}

* 
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
  
body 
{
  font-family: Arial, sans-serif;
  color: var(--black-panther);
  background-color: var(--main-color);
}

main 
{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

li 
{
  list-style: none;
}

a 
{
  text-decoration: none;
}
 
button 
{
  border: none;
  cursor: pointer;
}

h1, h2, h3 
{
  font-size: 1.6rem;
  color: var(--dark-green);
}

p 
{
  font-size: 1.3rem;
  color: var(--white-ghost);
  line-height: 2rem;
}

.button 
{
  display: inline-flex;
  position: relative;
  padding: 10px 30px;
  background-color: trasnparent;
  text-decoration: none;
  font-size: 1.1rem;
  font-weight: bold;
  color: var(--dark-green);
  border: 0.2rem solid var(--dark-green);
  border-radius: 50rem;
  transition: all 0.5s ease-in-out;
}

.button:hover
{
  background: var(--dark-green);
  color: var(--black-panther);
}

.button-dark 
{
  display: inline-flex;
  position: relative;
  padding: 10px 30px;
  background-color: trasnparent;
  text-decoration: none;
  font-size: 1.1rem;
  font-weight: bold;
  color: var(--black-panther);
  background-color: var(--dark-green);
  border: 0.2rem solid var(--dark-green);
  border-radius: 50rem;
  transition: all 0.5s ease-in-out;
}

.button-dark:hover 
{
  background-color: var(--light-green);
}