:root {
  /*colors*/
  --main-color: #3B50A3;
  --second-color: #4E69D2;
  --white-color: #FBFBFB;
  --dark-color: #1c1c1c;

  /*radius*/
  --main-radius: 0.3rem;
  --second-radius: 0.6rem;
}

html {
  scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, sans-serif;
  }
  
  li {
    list-style: none;
  }

  a {
    text-decoration: none;
  } 

  button {
    border: none;
    cursor: pointer;
  }