/* Estilos para o contêiner da imagem circular */
#boxImage {
    position: relative; /* Posição relativa */
    width: 250px; /* Largura da imagem */
    height: 250px; /* Altura da imagem */
    background: var(--white-ghost); /* Cor de fundo branca */
    border-radius: 50%; /* Formato de círculo */
    overflow: hidden; /* Conteúdo além do círculo é ocultado */
    transition: 0.5s; /* Transição suave */
    box-shadow: 
        inset 5px 5px 5px rgba(0, 0, 0, 0.05), /* Sombra interna esquerda e superior */
        inset -5px -5px 5px rgba(255, 255, 255, 0.5), /* Sombra interna direita e inferior */
        5px 5px 5px rgba(0, 0, 0, 0.05), /* Sombra externa direita e inferior */
        -5px -5px 5px rgba(255, 255, 255, 0.5); /* Sombra externa esquerda e superior */
}

/* Elemento após o contêiner da imagem para criar o círculo branco interno */
#boxImage::after {
    content: "";
    position: absolute;
    inset: 3px; /* Espaçamento interno */
    background: var(--white); /* Cor de fundo branca */
    border-radius: 50%; /* Formato de círculo */
    z-index: 1; /* Camada de posicionamento */
}

/* Contêiner interno para a imagem de perfil */
.boxImageContent {
    position: absolute; /* Posição absoluta */
    inset: 10px; /* Espaçamento interno */
    border: 6px solid var(--white); /* Borda branca */
    z-index: 3; /* Camada de posicionamento */
    border-radius: 50%; /* Formato de círculo para o contêiner */
    overflow: hidden; /* Conteúdo além do círculo é ocultado */
}

/* Estilos para a imagem de perfil */
.perfilImage {
    position: absolute; /* Posição absoluta */
    top: 0; /* Alinha ao topo */
    left: 0; /* Alinha à esquerda */
    width: 100%; /* Largura completa */
    height: 100%; /* Altura completa */
    object-fit: cover; /* Redimensionamento da imagem */
}

/* Estilos aplicados em telas pequenas (até 768px) */
@media screen and (max-width: 768px) {
    #boxImage {
        width: 225px; /* Reduz largura */
        height: 225px; /* Reduz altura */
    }
}

/* Estilos aplicados em telas ainda menores (até 600px) */
@media screen and (max-width: 600px) {
    #boxImage {
        width: 200px; /* Reduz largura */
        height: 200px; /* Reduz altura */
    }
}
