/* FAQItem.module.css */
.faqItemContainer {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.faqCard {
    display: flex;
    flex-direction: column;
}

.toggle {
    letter-spacing: 1px;
    font: 600 22px var(--hind);
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
}

.expandIcon {
    width: 20px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    font-size: 26px;
    transition: transform 0.3s ease-in-out;
}

.visible {
    transform: rotate(180deg);
}

.faqCard p {
    font: 300 20px var(--hind);
    letter-spacing: 1px;
    line-height: 40px;
    margin: 0;
    padding: 10px;
}

.faqDescription {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-in-out;
    /* Adiciona animação suave de altura */
}

.expanded {
    max-height: 1000px;
    /* Define a altura máxima expandida */
}

@media screen and (max-width: 768px) {
    .toggle {
        font-size: 18px;
    }

    .faqCard p {
        font-size: 18px;
    }
}
@media screen and (max-width: 600px) {
    .toggle {
        font-size: 16px;
    }

    .faqCard p {
        font-size: 16px;
    }
}