/* Estilos para o título do formulário */
.formTitle {
    width: 100%;
    text-align: center;
    font: 600 18px var(--hind); /* Estilo da fonte */
    border-bottom: 1px solid var(--dark-gray); /* Borda inferior */
}

/* Estilos para o conteúdo do formulário */
.formContent {
    display: flex;
    flex-direction: column;
    gap: 15px; /* Espaçamento vertical entre os elementos do conteúdo */
}

/* Estilos para o botão do formulário */
#form button {
    font: 600 16px var(--hind); /* Estilo da fonte */
    text-transform: uppercase; /* Transforma o texto em maiúsculas */
    color: var(--white); /* Cor do texto */
    display: block;
    text-align: center;
    line-height: 60px; /* Altura da linha de texto */
    width: 300px; /* Largura do botão */
    height: 60px; /* Altura do botão */
    padding: 0 20px; /* Espaçamento interno (horizontal) */
    box-sizing: border-box; /* Model box para incluir padding e borda */
    z-index: 1; /* Camada de posicionamento */
    transition: all 0.5s ease-in-out; /* Transição suave em animações */
    background:
        linear-gradient(to right,
            var(--black) 0%,
            var(--black) 20%,
            #4b4b4b 20%,
            #4b4b4b 100%); /* Gradiente de cores de fundo */
    background-size: 1500px; /* Tamanho do gradiente */
    background-position: 100% 0; /* Posição do gradiente */
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1); /* Sombra do botão */
    border: 2px solid var(--black); /* Borda do botão */
    border-radius: 50rem; /* Raio do canto arredondado */
    transition: 0.5s; /* Transição suave */
    margin-top: 2rem;
}

/* Estilos aplicados ao passar o mouse sobre o botão do formulário */
#form button:hover {
    letter-spacing: 1px; /* Altera o espaçamento entre caracteres */
    background-position: 0 0; /* Altera a posição do gradiente ao passar o mouse */
}

/* Estilos para o contêiner do botão do formulário */
.buttonForm {
    width: 100%;
    height: 100%; 
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Estilos específicos para telas pequenas (até 600px) */
@media screen and (max-width: 600px) {
    /* Ajuste de largura do botão do formulário em telas pequenas */
    #form button {
        width: 275px;
    }
}
