/**
 * Estilos para o componente de cartão (Card).
 */

/* Estilos gerais do cartão */
.card {
    display: flex; /* Exibe os elementos em linha */
    align-items: center; /* Alinha os elementos verticalmente */
    justify-content: center; /* Alinha os elementos horizontalmente */
    gap: 40px; /* Espaçamento entre os elementos */
    margin-bottom: 20px; /* Margem inferior */
}

/* Estilos da imagem do cartão */
.card img {
    width: 40%; /* Largura da imagem */
    transition: 0.5s; /* Transição de animação */
}

/* Estilos do conteúdo de texto do cartão */
.cardTexts {
    display: flex; /* Exibe os elementos em linha */
    flex-direction: column; /* Alinha os elementos verticalmente */
    gap: 15px; /* Espaçamento entre os elementos */
}

/* Estilos para o título do cartão */
.cardTexts h3 {
    font: 600 22px var(--work-sans); /* Estilo da fonte */
    color: var(--black); /* Cor do texto */
    letter-spacing: 1px; /* Espaçamento entre caracteres */
    line-height: 30px; /* Altura da linha de texto */
}

/* Estilos para o parágrafo do cartão */
.cardTexts p {
    font: 400 20px var(--hind); /* Estilo da fonte */
    letter-spacing: 1px; /* Espaçamento entre caracteres */
    line-height: 30px; /* Altura da linha de texto */
    color: var(--dark-gray); /* Cor do texto */
}

/* Estilos para os detalhes do cartão */
.cardDetails {
    width: 100%; /* Largura total */
    height: 80px; /* Altura */
    display: flex; /* Exibe os elementos em linha */
    align-items: center; /* Alinha os elementos verticalmente */
    gap: 20px; /* Espaçamento entre os elementos */
}

/* Estilos para cada item de detalhe do cartão */
.cardDetailsItem {
    display: flex; /* Exibe os elementos em linha */
    align-items: center; /* Alinha os elementos verticalmente */
    justify-content: center; /* Alinha os elementos horizontalmente */
    gap: 10px; /* Espaçamento entre os elementos */
    padding: 10px; /* Preenchimento interno */
}

/* Estilos para o ícone do item de detalhe do cartão */
.cardDetailsItem i {
    font-size: 26px; /* Tamanho do ícone */
}

/* Estilos para a descrição do item de detalhe do cartão */
.cardDetailsDescription {
    font: 400 18px var(--hind); /* Estilo da fonte */
}

/* Estilos específicos para telas médias (até 1024px) */
@media screen and (max-width: 1024px) {
    .card {
        align-items: center; /* Alinha os elementos verticalmente */
        flex-wrap: wrap; /* Quebra de linha para os elementos */
    }

    .card img {
        width: 60%; /* Largura da imagem */
    }

    .cardTexts {
        text-align: center; /* Alinhamento do texto */
    }

    .cardDetails {
        justify-content: center; /* Alinhamento horizontal */
    }

    .cardContent {
        display: flex; /* Exibe os elementos em linha */
        flex-direction: column; /* Alinha os elementos verticalmente */
        align-items: center; /* Alinhamento vertical */
    }
}

/* Estilos específicos para telas pequenas (até 600px) */
@media screen and (max-width: 600px) {
    .card {
        padding: 5px 5px 20px 5px; /* Espaçamento interno */
    }
    .card img {
        width: 100%; /* Largura total */
    }

    .cardDetails {
        height: auto; /* Altura automática */
        gap: 0; /* Espaçamento entre os elementos */
        flex-direction: column; /* Alinha os elementos verticalmente */
    }

    .cardTexts h3 {
        font-size: 20px; /* Tamanho do título */
    }

    .cardTexts p {
        font-size: 16px; /* Tamanho do parágrafo */
    }
}
