.card {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
    margin-bottom: 20px;
}

.card img {
    width: 40%;
    transition: 0.5s;
}

.cardTexts {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.cardTexts h3 {
    font: 600 22px var(--work-sans);
    color: var(--black);
    letter-spacing: 1px;
    line-height: 30px;
}

.cardTexts p {
    font: 400 20px var(--hind);
    letter-spacing: 1px;
    line-height: 30px;
    color: var(--dark-gray);
}

.cardDetails {
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    gap: 20px;
}

.cardDetailsItem {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 10px;
}

.cardDetailsItem i {
    font-size: 26px;
}

.cardDetailsDescription {
    font: 400 18px var(--hind);
}

@media screen and (max-width: 1024px) {
    .card {
        align-items: center;
        flex-wrap: wrap;
    }

    .card img {
        width: 60%;
    }

    .cardTexts {
        text-align: center;
    }

    .cardDetails {
        justify-content: center;
    }

    .cardContent {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

@media screen and (max-width: 600px) {
    .card {
        padding: 5px 5px 20px 5px;
    }
    .card img {
        width: 100%;
    }

    .cardDetails {
        height: auto;
        gap: 0;
        flex-direction: column;
    }

    .cardTexts h3 {
        font-size: 20px;
    }

    .cardTexts p {
        font-size: 16px;
    }

}