.headerTexts {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100px;
    margin-top: 10px;
}

.headerTitle {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    position: relative;
    margin-bottom: 5px;
}

.headerTextOverlay {
    font: 600 60px var(--work-sans);
    position: absolute;
    text-transform: uppercase;
    color: #33333309;
    transition: 0.5s;
}

.headerTitleText {
    font: 600 32px var(--work-sans);
    text-transform: uppercase;
    letter-spacing: 2px;
    transition: 0.5s;
    color: var(--dark-blue);
}

.headerTexts p {
    width: 100%;
    max-width: 900px;
    font: 300 26px var(--hind);
    letter-spacing: 2px;
    text-align: center;
}

@media screen and (max-width: 992px) {
    .headerTextOverlay {
        font-size: 60px;
    }


    .headerTitleText {
        font-size: 36px;
    }
}

@media screen and (max-width: 768px) {
    .headerTexts p {
        width: 90%;
        font-size: 22px;
    }

    .headerTitleText {
        font-size: 26px;
    }

    .headerTextOverlay {
        font-size: 50px;
    }
}

@media screen and (max-width: 600px) {
    .headerTexts p,
    .headerTitleText {
        letter-spacing: normal;
        font-size: 20px;
    }

    .headerTextOverlay {
        letter-spacing: normal;
        font-size: 28px;
    }

    .headerTexts {
        margin: 1rem auto;

    }
}