/* Estilos para a seção de introdução */
#introSection {
    width: 100%; /* Largura total */
    padding: 100px 0 50px 0; /* Espaçamento interno */
    display: flex; /* Exibe os elementos em uma coluna */
    flex-direction: column; /* Empilha os elementos verticalmente */
    align-items: center; /* Alinha os elementos no centro horizontalmente */
    background-color: var(--white-ghost); /* Cor de fundo */
    gap: 20px; /* Espaçamento entre elementos */
}

/* Estilos para o bloco de texto da introdução */
.introTexts {
    width: 90%; /* Largura de 90% */
    display: flex; /* Exibe os elementos em uma coluna */
    flex-direction: column; /* Empilha os elementos verticalmente */
    align-items: center; /* Alinha os elementos no centro horizontalmente */
    text-align: center; /* Alinhamento do texto */
    gap: 10px; /* Espaçamento entre elementos */
    margin-bottom: 20px; /* Espaçamento inferior */
}

/* Estilos para o título da introdução */
.introTitleText {
    font: 600 30px var(--work-sans); /* Estilo da fonte */
    text-transform: uppercase; /* Transforma o texto em maiúsculas */
    letter-spacing: 2px; /* Espaçamento entre caracteres */
    line-height: 40px; /* Altura da linha de texto */
    transition: 0.5s; /* Transição suave em animações */
    color: var(--dark-blue); /* Cor do texto */
}

/* Estilos para a descrição da introdução */
.introDescriptionText {
    font: 300 26px var(--hind); /* Estilo da fonte */
    letter-spacing: 2px; /* Espaçamento entre caracteres */
}

/* Estilos para telas de largura máxima de 768px */
@media screen and (max-width: 768px) {
    .introTexts {
        gap: 5px; /* Espaçamento menor entre elementos */
    }

    .introTitleText {
        display: flex; /* Exibe em coluna para texto ajustado */
        flex-direction: column;
        font-size: 24px; /* Tamanho menor do texto do título */
    }

    .introDescriptionText {
        font-size: 24px; /* Tamanho menor da descrição */
        margin-bottom: 10px; /* Espaçamento inferior menor */
    }
}

/* Estilos para telas de largura máxima de 600px */
@media screen and (max-width: 600px) {
    .introTitleText {
        font-size: 20px; /* Tamanho menor do texto do título */
        line-height: 30px; /* Altura da linha de texto menor */
        letter-spacing: 1px; /* Espaçamento entre caracteres menor */
    }

    .introDescriptionText {
        font-size: 20px; /* Tamanho menor da descrição */
    }
}
