/* Estilos para o logotipo */
.navbarLogo {
    display: flex; /* Exibe os elementos em linha */
    align-items: center; /* Centraliza verticalmente */
    gap: 10px; /* Espaçamento entre os elementos */
}

.navbarLogoText {
    font: 600 16px var(--work-sans); /* Estilo da fonte para o texto */
    text-transform: uppercase; /* Transforma o texto em maiúsculas */
    letter-spacing: 2px; /* Espaçamento entre caracteres */
    display: flex; /* Exibe os elementos em coluna */
    flex-direction: column; /* Alinha os elementos verticalmente */
    color: var(--dark-blue); /* Cor do texto */
}

.navbarLogoText span {
    color: var(--black); /* Cor do texto */
    font: 400 12px var(--hind); /* Estilo da fonte para o texto */
    letter-spacing: 1px; /* Espaçamento entre caracteres */
    text-transform: uppercase; /* Transforma o texto em maiúsculas */
}

/* Estilos aplicados em telas ainda menores (até 375px) */
@media screen and (max-width: 325px) {
    .navbarLogoText {
        display: none; /* Oculta o texto do logotipo */
    }
}
