#secondaryButton {
    font: 600 16px var(--hind);
    text-transform: uppercase;
    color: var(--dark-blue);
    display: block;
    text-align: center;
    line-height: 60px;
    width: 200px;
    height: 60px;
    padding: 0 20px;
    box-sizing: border-box;
    z-index: 1;
    transition: all 0.5s ease-in-out;
    background:
        linear-gradient(to right,
            var(--dark-blue) 0%,
            var(--dark-blue) 20%,
            var(--white) 20%,
            var(--white) 100%);
    background-size: 1500px;
    background-position: 100% 0;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    border: 2px solid var(--dark-blue);
    border-radius: 50rem;
    transition: 0.5s ease-out;
    letter-spacing: 1px;

}

#secondaryButton:hover {
    letter-spacing: 2px;
    background-position: 0 0;
    color: var(--white);
}


@media screen and (max-width: 600px) {
    #mainButton {
        width: 275px;
    }
}