/* Estilos gerais da folha de estilos */

/* Importa fontes do Google Fonts para o projeto */
@import url('https://fonts.googleapis.com/css2?family=Hind:wght@300;400;600&family=Open+Sans:ital@1&family=Work+Sans:wght@300;600&display=swap');

/* Definição das variáveis de cores e fontes */
:root {
    /* Cores */
    --black: #1c1c1c;
    --white: #FFF;
    --white-ghost: #FBFBFB;
    --dark-blue: #4158B1;
    --light-blue: #5371e8;
    --gray: #ECECEC;
    --dark-gray: #777;

    /* Fontes */
    --work-sans: "Work Sans";
    --hind: "Hind";
}

/* Estilos globais para a página HTML */
html {
    scroll-behavior: smooth; /* Scroll suave */
}

/* Reset de margin, padding e box-sizing */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilos gerais para o corpo da página */
body {
    font-family: Arial, sans-serif; /* Fonte padrão para o corpo */
    color: var(--black); /* Cor de texto padrão */
    background-color: var(--white); /* Cor de fundo padrão */
}

/* Estilos gerais para o conteúdo principal */
main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* Estilos gerais para listas */
li {
    list-style: none; /* Remove os marcadores de lista */
}

/* Estilos gerais para links */
a {
    text-decoration: none; /* Remove a decoração de link */
}

/* Estilos gerais para botões */
button {
    border: none; /* Remove a borda padrão do botão */
    cursor: pointer; /* Cursor de ponteiro ao passar o mouse */
    background: none; /* Remove o fundo padrão do botão */
}

/* Estilos gerais para campos de entrada (input), áreas de texto (textarea) e seletores (select) */
input, textarea, select {
    width: 100%; /* Largura completa */
    font: 600 16px var(--hind); /* Estilo de fonte */
    letter-spacing: 1px; /* Espaçamento entre caracteres */
    padding: 5px; /* Espaçamento interno */
    border-radius: 5px; /* Raio do canto arredondado */
    border: 2px solid #d5d5d5; /* Borda padrão */
    outline: 0; /* Remove o contorno ao focar */
}

/* Estilos para campos de entrada, áreas de texto e seletores ao receber foco */
input:focus, textarea:focus, select:focus {
    color: var(--dark-blue); /* Cor do texto ao focar */
    border: 2px solid var(--dark-blue); /* Borda ao focar */
}

/* Estilos para áreas de texto */
textarea {
    resize: none; /* Desabilita redimensionamento */
    height: 120px; /* Altura padrão */
}
