@import url('https://fonts.googleapis.com/css2?family=Hind:wght@400;600&family=Open+Sans:ital@1&family=Work+Sans:wght@300;600&display=swap');

:root {
  /*colors*/
  --white: #FBFBFB;
  --white-ghost: #ffffff;
  --dark-blue: #4158B1;
  --light-blue: #5371e8;
  --black: #1c1c1c;

  /*Fonts*/
  --work-sans: "Work Sans";
  --hind: "Hind";
}

html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  color: var(--black-panther);
  background-color: var(--white);
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

button {
  border: none;
  cursor: pointer;
  background: none;
}