/* Navbar */
#navbar 
{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--main-color);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
}
  
.nav-content 
{
  width: 75rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
}


/* Nav Content Left */
.nav-content-left 
{
  display: flex;
  align-items: center;
}

.logo-title 
{
  font-size: 1.3rem;
  text-align: center;
}

.logo-image 
{
  width: 2.5rem;
  margin-right: 1rem;
}


/* Nav Content Right */
.nav-content-right 
{
  display: flex;
  align-items: center;
  justify-content: center;
}

.menu-list 
{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
}

.menu-link, .social-link 
{
  position: relative;
  font-size: 1rem;
  font-weight: bold;
  color: var(--dark-blue);
  padding: 0.6rem;
  margin-right: 0.6rem;
}

.menu-link:hover 
{
  color: var(--light-green);
}

.social-link 
{
  font-size: 1.5rem;
}

#linkedin:hover 
{
  color: #00acee;
}

.social-link:hover 
{
  color: #333;
}

#instagram:hover 
{
  color: #Bc2a8d;
}

/* Responsividade & Menu Toggle */
@media(max-width: 875px) 
{
  .nav-content-right 
  {
    display: none;
  } 
  
  .nav-content-left 
  {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  
  /* Menu-toggle */
  .menu-toggle 
  {
    display: inline-block;
    cursor: pointer;
    margin-right: 2rem;
  }
  
  .menu-toggle span 
  {
    display: block;
    width: 2rem;
    height: 0.2rem;
    margin-bottom: 5px;
    background-color: var(--dark-blue);
    transition: transform 0.3s, background-color 0.3s;
  }
  
  .menu-toggle:hover span:nth-child(2) 
  {
    background-color: var(--light-green);
  }
  
  .menu-toggle.open span:nth-child(1) 
  {
    transform: rotate(45deg) translate(5px, 5px);
  }
  
  .menu-toggle.open span:nth-child(2) 
  {
    opacity: 0;
  }
  
  .menu-toggle.open span:nth-child(3) 
  {
    transform: rotate(-45deg) translate(7px, -8px);
  }

  
  .nav-content.open 
  {
    flex-direction: column;
  }

  .nav-content-right.open 
  {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
  }

  .nav-content-right.open .menu-list 
  {
    display: block;
    width: 100%;
    margin: 0rem 10rem 5rem 0rem;
    padding: 5rem 0rem 5rem 0rem;
    border-bottom: 1px solid var(--dark-blue);
  }

  .nav-content-right.open .menu-item 
  {
    width: 100%;
    margin-top: 2rem;
  }
  
  .nav-content-right.open .menu-link 
  {
    font-size: 2rem;
    margin-left: 1rem;
  }

  .social-icons {
    color: var(--dark-blue);
  }

  .social-link 
  {
    font-size: 2.3rem;
  }

  .logo-img 
  {
    margin-left: 1rem;
  }
}

@media only screen and (max-width: 500px) 
{
  .logo-title 
  {
    display: none;
  }
}
