.presentation {
  width: 100%;
  max-width: 1200px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.presentation-content {
  width: 100%;
  max-width: 968px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.box-image {
  position: relative;
  width: 250px;
  height: 250px;
  background: var(--light-ghost);
  border-radius:50%;
  overflow: hidden;
  margin-bottom: 1.6rem;
}

.box-image::before {
  content: "";
  position: absolute;
  inset: -10px 80px;
  background: var(--dark-green);
  transition: 0.5s;
  animation: animate 4s linear infinite;
}
@keyframes animate {
  0%{
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.box-image:hover::before {
  inset: -20px 0px;
}

.box-image::after {
  content: "";
  position: absolute;
  inset: 3px;
  background: var(--main-color);
  border-radius: 50%;
  z-index: 1; 
}

.box-image-content {
  position: absolute;
  inset: 10px;
  border: 6px solid var(--dark-green);
  z-index: 3;
  border-radius: 50%;
  overflow: hidden;
}

.box-image-content img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.presentation-title {
  font-size: 2.6rem;
  margin-bottom: 1rem;
  color: var(--dark-green);
}

.presentation-description {
  font-size: 1.6rem;
  line-height: 2.6rem;
  margin-bottom: 1.6rem;
  color: var(--white-ghost);
}
  
.buttons-presentation {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

@media(max-width: 500px) {
  .box-image {
    width: 200px;
    height: 200px;
  }

  .presentation-texts {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  .presentation-title {
    font-size: 1.6rem;
    max-width: 300px;
    line-height: 2.4rem;
  }

  .presentation-title span {
    display: none;
  }

  .presentation-description {
    font-size: 1rem;
    line-height: 1.8rem;
    width: 90%;
  }

  .buttons-presentation {
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  
  .buttons-presentation .button {
    width: 300px;
    display: flex; 
    align-items: center;
    justify-content: center;
    margin-top: 1rem;
  }
}