.services {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--main-color);
  }
  
  .services-title {
    font-size: 1.8rem;
    margin-top: 1.5rem;
    padding-bottom: 1.5rem;
    font-weight: bold;
    color: var(--light-green);
    border-bottom: 1px solid var(--white-ghost);
  }
  
  .services-cards {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1.5rem;
    margin-top: 1.6rem;
    paddin-bottom: 2rem;
  }
  
  .service-card {
    width: 300px;
    padding: 1rem;
    margin: 1rem;
    text-align: center;
    border-radius: 0.3rem;
    background-color: var(--white-ghost);
  }
  
  .service-title {
    margin-bottom: 1rem;
    font-size: 1.5rem;
  }
  
  /* Responsividade */

  @media (max-width: 1024px) {
    .services-cards {
        gap: 1px;
      }
  }

  @media (max-width: 500px) {
    .services-cards {
      justify-content: space-around;
    }
    
    .service-card {
      width: 310px;
    }

    .button-about {
      margin-bottom: 1rem;
    }
  }
  