.services {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 7rem;
}

.services-title {
    font-size: 1.8rem;
    color: var(--dark-green);
    margin-bottom: 2rem;
}

.swiper {
    width: 968px;
    height: 350px;
}

.swiper-wrapper {
    width: 100% !important;
}

.swiper-slide {
    max-width: 968px;
    display: flex !important;
    align-items: center;
    justify-content: center;
    border-radius: 0.6rem;
}

.service-card {
    width: 90%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-cotent: center;
    padding: 2rem;
    border: 1px solid var(--dark-green);
    border-radius: 1rem;
    color: var(--white-ghost);
}

.service-card i {
    color: var(--dark-green);
    text-align: center;
    width: 100%;
    font-size: 5rem;
}

.service-info {
    position: relative;
    padding: 1rem;
}

.buttons-service {
    position: absolute;
    right: 0px;
    bottom: 20px;
}

.service-title {
    color: var(--dark-green);
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

.service-description{
    font-size: 1.2rem;
    margin-bottom: 4rem;
    line-height: 2.3rem;
}


.swiper-button-prev, .swiper-button-next {
    width: 50px !important;
    height: 50px !important;
    border-radius: 50%;
    text-align: center;
    font-weight: bold;
    --swiper-navigation-size: 25px;
    --swiper-navigation-color: var(--white-ghost);
    background: var(--dark-green);
}


.swiper-pagination {
    --swiper-pagination-color: var(--dark-green);
}

@media(max-width: 967px) {
    .service-card {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        text-align: center;
    }
    
    .swiper {
        width: 600px;
        height: 90vh;
    }
    
    .buttons-service {
        bottom: -20px;
        right: 140px;
    }
    
    .service-card i {
        font-size: 3rem;
        text-align: center;
        line-height: 100px;
        color: var(--white-ghost);
        width:100px;
        height:100px;
        border-radius: 50%;
        background-color: var(--dark-green);
        margin-bottom: 2rem;
        transition: background-color 0.5s ease-in-out;
    }
}

@media(max-width: 600px) {
    .swiper {
        width: 300px;
    }

    
    .service-description{
        font-size: 1rem;
    }

    .service-card i {
        font-size: 3rem;
    }

    .swiper-button-prev, .swiper-button-next {
        display: none !important;
    }
    
    .buttons-service {
        bottom: 10px;
        right: 50px;
    }
}