.services {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .services h1 {
    margin-bottom: 2rem;
  }
  
  .services-cards {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2rem;
  }
  
  .service-card {
    width: 300px;
    padding: 1rem;
    background: #d9d9d9;
    margin: 1rem;
    text-align: center;
    border: 1px solid #c3c3c3;
    border-radius: 0.3rem;
  }
  
  .service-title {
    margin-bottom: 1rem;
    font-size: 1.5rem;
  }
  
  /* Responsividade */

  @media (max-width: 1024px) {
    .services-cards {
        gap: 1px;
      }
  }

  @media (max-width: 500px) {
    .services-cards {
      justify-content: space-around;
    }
    
    .service-card {
      width: 400px;
    }
  }
  