/**
 * Estilos para o botão do telegram.
 */
 #telegram {
    width: 250px; /* Largura do botão */
    height: 60px; /* Altura do botão */
    padding: 0 20px; /* Espaçamento interno (horizontal) */

    display: flex; /* Exibe os elementos como flex */
    align-items: center; /* Centraliza verticalmente os elementos */
    justify-content: flex-start; /* Alinha os elementos à esquerda */

    color: var(--white); /* Cor do texto */
    background: linear-gradient(
        to right,
        #4174e4 0%,
        #4174e4 20%,
        #229ED9 20%,
        #229ED9 100%
    ); /* Gradiente de cores de fundo */
    background-size: 1500px; /* Tamanho do gradiente */
    background-position: 100% 0; /* Posição do gradiente */
    border-radius: 30px; /* Raio do canto arredondado */
    border: 2px solid #4174e4; /* Borda do botão */
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1); /* Sombra do botão */
    transition: all 0.5s ease-in-out; /* Transição suave em animações */
    cursor: pointer;
}

/**
 * Estilos para o ícone do telegram.
 */
#telegram i {
    width: 50%; /* Largura do ícone */
    display: flex; /* Exibe o ícone como flex */
    align-items: center; /* Centraliza verticalmente o ícone */
    justify-content: center; /* Centraliza horizontalmente o ícone */
    font-size: 36px; /* Tamanho do ícone */
}

/**
 * Estilos para o texto "telegram".
 */
#telegram span {
    width: 100%; /* Largura do texto */
    font: 600 20px var(--hind); /* Estilo do texto */
    text-transform: uppercase; /* Transforma o texto em maiúsculas */
    letter-spacing: 1px; /* Espaçamento entre caracteres */
    transition: all 0.5s ease-in-out; /* Transição suave em animações */
}

/**
 * Estilos aplicados ao passar o mouse sobre o botão do telegram.
 */
 #telegram:hover {
    background-position: 0 0; /* Altera a posição do gradiente ao passar o mouse */
}

#telegram:hover span {
    letter-spacing: 2px; /* Altera o espaçamento entre caracteres */
}

/**
 * Estilos específicos para telas pequenas (até 600px) para o botão do telegram.
 */
@media screen and (max-width: 600px) {
    #telegram {
        width: 240px; /* Largura do botão em telas pequenas */
    }
}
